{% extends 'portfolio/base.html' %}

<script>
var MEDIA_URL = "{{MEDIA_URL}}";
</script>

{% block name %}About{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>About</h1></header>
			</div>
		
			<div class="message">
				<img src = '{% static "/portfolio/images/pic.png" %}' />
				<p>Hello and nice to meet you! My name is Aline Shulzhenko,
					and currently I am a University of Waterloo Computer Science student.
				</p>
			</div>
			
			<div class="message">
				<h2>I like ...</h2>
				<img id="img-like" src = '{% static "/portfolio/images/likes/code.png" %}'/>
				<p class="index-em" id="p-like">... programming</p>
			</div>
		</div>
		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>
{% endblock %}
