{% extends 'portfolio/base.html' %}

<script>
var MEDIA_URL = "{{MEDIA_URL}}";
</script>

{% block name %}About{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>About</h1></header>
			</div>
		
			<div class="message">
				<img src = '{% static "/portfolio/images/pic.png" %}' />
				<p>Hello and nice to meet you! My name is <span class="about-em">Aline Shulzhenko</span>, <br >
					and currently I am a <span class="about-em">University of Waterloo Computer Science</span> student.
				</p>
			</div>

			
			
			<div class="message">
				<h2>I like / am interested in ...</h2>
				<img id="img-like" src = '{% static "/portfolio/images/likes/code.png" %}'/>
				<p class="index-em" id="p-like">... Programming</p>
			</div>

			<div class="message">
				<h2 class="header-contact">To get in touch:</h2>
				<div class="align-left">
					<p id="a-email"><i class="fa fa-envelope" aria-hidden="true"></i>	
					<a class="a-email" href="mailto:ashulzhe@uwaterloo.ca" 
						target="_top">ashulzhe@uwaterloo.ca</a></p>	
					<p id="a-email"><i class="fa fa-github-square" aria-hidden="true"></i> 	
					<a class="a-email" href="https://github.com/lynnsh">GitHub @lynnsh</a></p>
					<p id="a-email"><i class="fa fa-linkedin-square" aria-hidden="true"></i>	
					<a class="a-email" href="https://www.linkedin.com/in/aline-shulzhenko/">LinkedIn</a></p>
				</div>
			</div>
		
			
		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>
{% endblock %}
