{% extends 'portfolio/base.html' %}

{% block name %}Contact{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>Contact</h1></header>
			</div>
		
			<div class="message">
				<h2 class="header-contact">Get in touch</h2>
				<p id="contact-p">Got a <span class="a-email">project</span> you would like me to work on? Or how about just a friendly
				chat?</p> 
				<div class="align-left">
					<p id="a-email"><i class="fa fa-envelope" aria-hidden="true"></i>	
					<a class="a-email" href="mailto:ashulzhe@uwaterloo.ca" 
						target="_top">ashulzhe@uwaterloo.ca</a></p>	

					<p id="a-email"><i class="fa fa-github-square" aria-hidden="true"></i> 	
					<a class="a-email" href="https://github.com/lynnsh">GitHub @lynnsh</a></p>
					<p id="a-email"><i class="fa fa-linkedin-square" aria-hidden="true"></i>	
					<a class="a-email" href="https://www.linkedin.com/in/aline-shulzhenko/">LinkedIn</a></p>
				</span>	
			</div>

		</div>

{% endblock %}