{% extends 'portfolio/base.html' %}

{% block name %}Contact{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>Contact</h1></header>
			</div>
		
			<div id="message">
				<h2 class="header-contact">Get in touch</h2>
				<p id="contact-p">Got a project you would like me to work on? Or how about just a friendly
				<span class="a-email">chat</span>?</p> 
				<p id="a-email">Email: 	
				<a class="a-email" href="mailto:chlgnko.aline@gmail.com" 
					target="_top">chlgnko.aline@gmail.com</a></p>	
				
			</div>
			<div id="message">
				<h2 class="header-contact">Chat</h2>
				<form id="form" name="chat" action="" onsubmit="return getName()" method="post">
					<label for="name">Enter your name:&nbsp;</label>
					<input type="text" id="name" name="name" maxlength="32" class="box-chat" required/>&nbsp;
					<input type="submit" value="Submit" class="btn-chat"/>
				</form>
				<div id="chat">
					
				</div>
			</div>
		</div>

		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>

{% endblock %}