{% extends 'portfolio/base.html' %}

{% block name %}Projects{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>Projects</h1></header>
			</div>
			
			<div id="message">
				<h2 class="projects-header">Web Forum</h2>
					<img src='{% static "portfolio/images/forum.png" %}'/>
			</div>
			<div id="message">
				<h2 class="projects-header">Memory Game</h2>
				<a href="/memory_game/" onclick="return popup('/memory_game/')">
					<img src='{% static "portfolio/images/memory.png" %}'/></a>
			</div>
			<div id="message">
				<h2 class="projects-header">Tetris</h2>
					<img src='{% static "portfolio/images/tetris.png" %}'/>
			</div>
			<div id="message">
				<h2 class="projects-header">Battleship</h2>
				<img src='{% static "portfolio/images/battleship.png" %}'/>
			</div>
			<div id="message">
				<h2 class="projects-header">Tic Tac Toe</h2>
				<img src='{% static "portfolio/images/tictactoe.png" %}'/>
			</div>
			
		</div>

		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>
{% endblock %}
