{% extends 'portfolio/base.html' %}

{% block name %}Projects{% endblock %}

{% block content %}
		
		<div id="wrapper">
		
			<div id="header-message">
				<header><h1>Projects</h1></header>
			</div>

			<div class="message lang"><h4 class="lang-header">Java</h4>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/Skrinikov/CSDMusicStore">Music Store</a></h2>
						<img src='{% static "portfolio/images/jsf_1.png" %}'/>
						<img src='{% static "portfolio/images/jsf_2.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/email-client-app">Email Client</a></h2>
						<img src='{% static "portfolio/images/java_email.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/mastermind-game">Mastermind</a></h2>
						<img src='{% static "portfolio/images/mmm_java.png" %}'/>
				</div>
			</div>

			<div class="message lang"><h4 class="lang-header">PHP</h4>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/resto-reviews-php">Restaurants Reviews (PHP Laravel)</a></h2>
						<img src='{% static "portfolio/images/rrr_php.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/autocomplete-simple">Autocomplete</a></h2>
						<img src='{% static "portfolio/images/auto_php.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/web-scraping-simple">Web Scraping</a></h2>
						<img src='{% static "portfolio/images/scrape_php.png" %}'/>
				</div>
			</div>

			<div class="message lang"><h4 class="lang-header">C# and ASP .NET</h4>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/web_forum">Web Forum</a></h2>
						<img src='{% static "portfolio/images/forum.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/tetris">Tetris</a></h2>
						<img src='{% static "portfolio/images/tetris.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/battleship_c_sharp">Battleship</a></h2>
						<img src='{% static "portfolio/images/battleship.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/tictactoe_c_sharp">Tic Tac Toe (C#)</a></h2>
					<img src='{% static "portfolio/images/tictactoe.png" %}'/>
				</div>
			</div>

			<div class="message lang"><h4 class="lang-header">Android</h4>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/resto-reviews-android">Restaurants Reviews (Android app)</a></h2>
						<img src='{% static "portfolio/images/rrr_android.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/android-tictactoe">Tic Tac Toe (Android app)</a></h2>
						<img src='{% static "portfolio/images/ttt_android.png" %}'/>
				</div>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/android-quotes">Quotes</a></h2>
						<img src='{% static "portfolio/images/quotes_android.png" %}'/>
				</div>
			</div>
			
			<div class="message lang"><h4 class="lang-header">JavaScript</h4>
				<div class="msg-row">
					<h2 class="projects-header"><a href="https://github.com/lynnsh/memory-game-js">Memory Game</a></h2>
					<a href="/memory_game/" onclick="return popup('/memory_game/')">
						<img src='{% static "portfolio/images/memory.png" %}'/></a>
				</div>
			</div>
			
			
			
		</div>

		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>
{% endblock %}
