{% extends 'portfolio/base.html' %}

{% block name %}Resume{% endblock %}

{% block content %}

		<div id="wrapper">
			<div id="header-message">
				<header><h1>Resume</h1></header>
			</div>
			<div id="message">
				<h2>Skills</h2>
				<dl>
					<dt>Java (JSF, Android, JavaFX)</dt>
					<dd><div id="data1" class="bar" >85%</div></dd>
					<dt>C# (.NET, WPF, Windows Forms)</dt>
					<dd><div id="data2" class="bar">80%</div></dd>
					<dt>JavaScript (jQuery)</dt>
					<dd><div id="data3" class="bar">80%</div></dd>					
					<dt>Python (Django)</dt>
					<dd><div id="data4" class="bar">75%</div></dd>
					<dt>PHP (Laravel)</dt>
					<dd><div id="data5" class="bar">75%</div></dd>
					<dt>C++</dt>
					<dd><div id="data6" class="bar">55%</div></dd>
					<dt>SQL (MySQL, MS SQL, SQLite, Oracle, NoSQL)</dt>
					<dd><div id="data7" class="bar">85%</div></dd>
					<dt>HTML5 & CSS3</dt>
					<dd><div id="data8" class="bar">90%</div></dd>
					<dt>Testing (NUnit, JUnit, Selenium, Arquillian)</dt>
					<dd><div id="data9" class="bar">75%</div></dd>
					<dt>Operating Systems (Linux, Windows, Windows Server)</dt>
					<dd><div id="data10" class="bar">75%</div></dd>
					<dt>Cloud Platforms (Heroku, PythonAnywhere, Salesforce)</dt>
					<dd><div id="data11" class="bar">70%</div></dd>
					<dt>Other Tools (Git, Bash, SourceTree)</dt>
					<dd><div id="data12" class="bar">85%</div></dd>
					<dt>Microsoft Applications (Word, Excel, Power Point, MS Project)</dt>
					<dd><div id="data13" class="bar">75%</div></dd>
				</dl>
			</div>
			
				<div id="message">	
				<h2>Experience</h2>
				<div class="row">
					<h3 class="resume-h3">Solution Associate</h3>
					<p><b><i>Deloitte</i></b>, Montreal, QC</p>
					<p id="date">May 2017 - Aug. 2017</p>
					<div id="resume-centre">
					<ul class="resume-ul">
						<li>Supported deployed Salesforce solutions  with <span class="resume-em">JavaScript</span> (<em>jQuery, DataTables</em>), <span class="resume-em">Apex</span>, and <span class="resume-em">VisualForce</span>.</li>
						<li>Used <span class="resume-em">Git</span> and <span class="resume-em">SourceTree</span> to push the updates.</li>
						<li>Employed functional and regression <em>testing</em> to check the updates.</li>
						<li>Used <span class="resume-em">Selenium</span> and <span class="resume-em">Python</span> for automated testing.</li>	
						<li>Gained experience in project documentation, reports, and business communications and translations.</li>
					</ul>
					</div>
				</div>
				<div class="row">
					<h3 class="resume-h3">Software Developer Intern</h3>
					<p><b><i>Neptronic</i></b>, Montreal, QC</p>
					<p id="date">Apr. 2017 - May 2017</p>
					<div id="resume-centre">
					<ul class="resume-ul">
						<li>Developed dynamic web pages with <span class="resume-em">JavaScript</span>, <span class="resume-em">jQuery</span> and <span class="resume-em">Bootstrap</span>.</li>
						<li>Implemented <em>jQuery</em> functionality in native <em>JavaScript</em> for low-memory devices.</li>
						<li>Worked on developing and maintaining the large-scale enterprise full stack <span class="resume-em">.NET MVC</span> software.</li>
						<li>Database support of the application with <span class="resume-em">MS SQL</span> (<span class="resume-em">C#</span> and native <em>SQL</em>).</li>	
						<li>Worked on <span class="resume-em">Google Maps</span> for future implementation in the software.</li>
					</ul>
					</div>
				</div>
				<div class="row">
					<h3 class="resume-h3">NetBeans Day Montreal - Volunteer</h3>
					<p><b><i>Dawson College</i></b>, Montreal, QC</p>
					<p id="date">Jan. 2017</p>
					<div id="resume-centre">
					<ul class="resume-ul">
						<li>Helped with registration, room assignments and setting up the equipment.</li>
						<li>Learned more about <span class="resume-em">Java</span> and <em>NetBeans</em> environment, as well as about professional networking and building learning communities.</li>	
					</ul>
					</div>
				</div>
				<div class="row">
					<h3 class="resume-h3">Solution Associate</h3>
					<p><b><i>Deloitte</i></b>, Montreal, QC</p>
					<p id="date">Jun. 2016 - Aug. 2016</p>
					<div id="resume-centre">
					<ul class="resume-ul">
						<li>Worked with <span class="resume-em">Salesforce</span>, <span class="resume-em">Apex</span>, <span class="resume-em">HTML</span>, <span class="resume-em">Bootstrap-CSS</span>, <em>jQuery</em>, and <em>AngularJS</em> to develop web pages.</li>
						<li>Helped with software <em>testing</em>.</li>	
						<li>Worked in agile environment.</li>
					</ul>
					</div>
				</div>
				<div class="row">
					<h3 class="resume-h3">Tutoring</h3>
					<p><b><i>Dawson College</i></b>, Montreal, QC</p>
					<p id="date">Aug. 2015 - May 2016</p>
					<div id="resume-centre">
					<ul class="resume-ul resume-ul-1 ">
						<li>Tutored Operating Systems, Java, Electricity and Magnetism, and Linear Algebra courses.</li>
					</ul>
					</div>
				</div>
					
			</div>

			<div id="message">				
				<h2>Education</h2>
				<div class="row">
					<h3 class="resume-h3">Bachelor of Computer Science (BCS): Computer Science Co-op</h3>
					<p><b><i>University of Waterloo</i></b>, Waterloo, ON</p>
					<p id="date">Fall 2017 - PRESENT</p>
				</div>
				<div class="row">
					<h3 class="resume-h3">Computer Science Technology DEC</h3>
					<p><b><i>Dawson College</i></b>, Montreal, QC</p>
					<p id="date">Fall 2014 - Winter 2017</p>
				</div>
			</div>

		</div>

		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>

{% endblock %}
