{% extends 'portfolio/base.html' %}

{% block name %}Resume{% endblock %}

{% block content %}

		<div id="wrapper">
			<div id="header-message">
				<header><h1>Resume</h1></header>
			</div>
			<div id="message">
				<h2>Skills</h2>
				<dl>
					<dt>Java</dt>
					<dd><div id="data-one" class="bar" >85%</div></dd>
					<dt>C#</dt>
					<dd><div id="data-two" class="bar">80%</div></dd>
					<dt>JavaScript</dt>
					<dd><div id="data-three" class="bar">75%</div></dd>
					<dt>SQL</dt>
					<dd><div id="data-four" class="bar">75%</div></dd>
					<dt>HTML & CSS</dt>
					<dd><div id="data-five" class="bar">70%</div></dd>
					<dt>Python</dt>
					<dd><div id="data-six" class="bar">65%</div></dd>
				</dl>
			</div>
			<div id="message">
				
				<h2>Education</h2>
					<h3 class="resume-h3">Computer Science Technology</h3>
					<p>Dawson College</p>
					<p id="date">Fall 2014 - present</p>
					
					<h3 class="resume-h3">Laboratory Technology-Analytical Chemistry</h3>
					<p>Dawson College</p>
					<p id="date">Fall 2013-July 2014</p>
					
					<h3 class="resume-h3">Writing English</h3>
					<p>Dawson College</p>
					<p id="date">August 2012-December 2012</p>
					
					<h3 class="resume-h3">French Courses</h3>
					<p>College Bois-de-Boulogne</p>
					<p id="date">February 2012-June 2012</p>
					
					<h3 class="resume-h3">Chemistry Department</h3>
					<p>BSU</p>
					<p id="date">August 2010-June 2011</p>
					
					<h3 class="resume-h3">DES</h3>
					<p>Gymnasium 8</p>
					<p id="date">September 1999-June 2010</p>
				</div>
				<div id="message">	
				<h2>Work Experience</h2>
					<h3 class="resume-h3">Tutoring</h3>
					<p>Dawson College</p>
					<p id="date">August 2014-present</p>
					<div id="resume-centre">
					<ul id="resume-ul">
						<li>Linear Algebra</li>
						<li>Electricity and Magnetism</li>
						<li>Java</li>
					</ul>
					</div>
					<h3 class="resume-h3">Bookstore</h3>
					<p>Dawson College</p>
					<p id="date">August 2014-September 2014</p>
					
			</div>
		</div>

		<div id="toTop">
			<a href="#content">Top&#8593;</a>
		</div>

{% endblock %}
